/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.div_style {
  padding-left: 40px;
}

.div_style2 {
  padding-left: 100px;
}


.input_style {
  background-color: rgb(226, 248, 253);
  color: rgb(12, 12, 12);
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  width: 500px;
}



.input_style2 {
  background-color: rgb(226, 248, 253);
  color: rgb(12, 12, 12);
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
  width: 500px;
  height: 300px;
}
